doctype html
html(lang='en', ng-app='showcase')
    head
        // script.
            window['adrum-start-time'] = new Date().getTime();
        // script(src="/js/adrum.js")

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='/favicon.ico')
        title MEAN ShowCase
        // Bootstrap core CSS
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')


        script(src="//maps.googleapis.com/maps/api/js?sensor=false")
        script(src="/js/lib/angular/angular.js")
        script(src="/js/lib/lodash/dist/lodash.js")
        script(src="/js/lib/angular-google-maps/dist/angular-google-maps.js")
        script(src="/js/site/showcase.js")


        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        .navbar.navbar-inverse(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') dynaTrace MEAN Showcase
                .navbar-collapse.collapse

                // /.navbar-collapse
        // Main jumbotron for a primary marketing message or call to action

        .container(ng-controller="MapCtrl")
            .row
                .col-md-6
                    .map
                        ui-gmap-google-map(center='map.center', zoom='map.zoom')


                    .panel.panel-default
                        .panel-heading
                            | Current Weather
                        .panel-body
                            .row
                                .col-md-2
                                    img(ng-src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png")

                                .col-md-10
                                    br
                                    | Station: {{weather.name}}
                                    br
                                    | Temperature: {{weather.main.temp | number : 1}} °C





                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                | Current news for dynaTrace

                        .panel-body
                            if(news && news.responseData)
                                ul
                                    each item in news.responseData.entries
                                        li
                                            a(href=item.link, target="_blank")
                                                | !{item.title}
                                            br
                                            | !{item.contentSnippet}


                .col-md-6(ng-controller="TodoCtrl")
                    h2 My todo List



                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                | Todo List

                        .panel-body
                            ul
                                li(ng-repeat="item in todoItems") {{item.text}}



                        .panel-footer
                            form(ng-submit="insertTodoItem()")
                                .form-group
                                    input.form-control(type="text", ng-model="todoItem")
                                .form-group
                                    input.btn.btn-primary.btn-lg.btn-block(type="submit", value="Add", ng-disabled="!todoItem")







            hr
            footer
                p &copy; dynaTrace 2015


        script(src='//code.jquery.com/jquery-1.11.2.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')